@model WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <a asp-action="Index">Back to List</a> |
    @{
        if (Model.TimeOfDelivery != DateTime.MinValue)
        {
            @Html.ActionLink("Set to undelivered", "SetToDelivered", new { id = Model.IdOrder })
        }
        else
        {
            @Html.ActionLink("Set to delivered", "SetToDelivered", new { id = Model.IdOrder })
        }
    }
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer first name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerFistName)
        </dd>
        <dt class="col-sm-2">
            Customer last name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class="col-sm-2">
            Delivery address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            Postcode
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaName)
        </dd>
        <dt class="col-sm-2">
            Order total
        </dt>
        <dd class="col-sm-10">
            CHF
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class="col-sm-2">
            Expected delivery time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDeliveryTime)
        </dd>
        <dt class="col-sm-2">
            Actual time of delivery
        </dt>
        <dd class="col-sm-10">
            @{
                string time;
                if (Model.TimeOfDelivery != DateTime.MinValue)
                {
                    time = Model.TimeOfDelivery.ToString();
                }
                else
                {
                    time = "not yet";
                }
            }
            @time
        </dd>

    </dl>
</div>

@if (Model.OrderCompositions != null)
{
    <table class="table">
        <thead>
        <td>
            Plate
        </td>
        <td>
            Price
        </td>
        <td>
            Quantity
        </td>
        <td></td>
        </thead>
        <tbody>
        @{
            int cpt = 0;
            foreach (var comp in Model.OrderCompositions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(dish => Model.OrderedDishes[cpt].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(Dish => Model.OrderedDishes[cpt].Price)
                    </td>
                    <td>
                        @Html.DisplayFor(compItem => comp.Quantity)
                    </td>
                    <td>
                        <img src=@Model.OrderedDishes[cpt].Image width="60" height="60" />
                    </td>
                </tr>
                cpt++;
            }
        }
        </tbody>

    </table>
}
