@model IEnumerable<WebApp.Models.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedDeliveryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourierLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDeliveryTime)
            </td>
            <td>
                @{
                    string time;
                    if (item.TimeOfDelivery==DateTime.MinValue)
                    {
                        time = "not yet";
                    }
                    else
                    {
                        time = item.TimeOfDelivery.ToString();
                    }
                }
                @time
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourierLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.ActionLink("Set to delivered", "SetToDelivered", new {  id=item.IdOrder  }) 
            </td>
        </tr>
}
    </tbody>
</table>
