@model WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDeliveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDeliveryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
