@model WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOrder)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class="col-sm-2">
            Restaurant
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            Delivery Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaName)
        </dd>
        <dt class="col-sm-2">
            Order Total
        </dt>
        <dd class="col-sm-10">
            CHF @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfDelivery)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.TimeOfDelivery != DateTime.MinValue)
                {
                    @Html.DisplayFor(model => model.TimeOfDelivery)
                }
                else
                {
                    <text>Not delivered</text>
                }
            }
        </dd>
    </dl>
</div>

@if (Model.OrderCompositions != null)
{
    <table class="table">
        <thead>
        <td>
            Plate
        </td>
        <td>
            Price
        </td>
        <td>
            Quantity
        </td>
        <td></td>
        </thead>
        <tbody>
            @{
                foreach (var comp in Model.OrderCompositions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(compItem => comp.DishName)
                        </td>
                        <td>
                            @Html.DisplayFor(compItem => comp.DishPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(compItem => comp.Quantity)
                        </td>
                        <td>
                            <img src=@comp.DishImagePath width="60" height="60" />
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}

<div>
    @Html.ActionLink("Delete", "Delete", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
