@model WebApp.Models.RestaurantViewModel

@{
    ViewData["Title"] = "Order";
    var imagePath = Model.ImagePath;
}


<div>
    <div class="topImageL" style="background-image: url('@Model.ImagePath');">
    </div>
    <div class="topImageTitle">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
    </div>

    <div style="text-align: right; font-size: 140%; margin-right: 180px">
        @Html.ActionLink("Checkout", "Checkout", new { })
    </div>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Plate
                </th>
                <th>
                </th>
                <th>
                    Price
                </th>
                <td id="total">
                    @{
                        var Price = (double) Int32.Parse(Context.Request.Cookies["TotalOrder"]) / 100;
                    }
                    CHF @Price
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@item.Image" height="64" width="64" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price) CHF
                    </td>
                    <td>
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" name="quantity" min="0" max="999999999" style="width: 50px"/>
                        @Html.ActionLink("Add To Cart", "AddToCart", new {id = item.IdDish})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>



