@model WebApp.Models.RestaurantViewModel

@{
    var I = 0;
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <div style="text-align: right; font-size: 140%; margin-right: 180px">
        @Html.ActionLink("Checkout", "Checkout", new {  })
    </div>
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Plate
                </th>
                <th>
                </th>
                <th>
                    Price
                </th>
                <td id="total">
                    0 CHF
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        #TODO IMAGE HERE
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.IdDish }, new {onclick = "addToCart( "+ I + ");"})
                    </td>
                </tr>
                I++;
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    class Dish {
        constructor(id, price) {
            this.id = id;
            this.price = price;
        }
    }

    var cart = [];
    var availableItems = [];

    @foreach (var d in Model.Dishes)
    {
        <text>
            availableItems.push(new Dish(@d.IdDish, @d.Price));
        </text>
    }

    function addToCart(id) {
        cart.push(availableItems[id]);
        var sum = 0;
        for (var i = 0; i < cart.length; i++) {
            sum = sum + cart[i].price;
        }
        document.getElementById("total").innerHTML = sum+" CHF";
        console.log(cart);
    }


</script>
